div.item, div.subdir {
	width:128px;
	height:auto;
	background:#bbb;
	float:left;
	margin:5px;
	text-align:center;
	font-size:16px;
	display:inline-block;
	color:#000;
	border-radius:4px;
}

div.subdir {
	background:#5483b3;
	color:#ddd;
	text-decoration:underline;
}

body {
	background-image:url('./bg.png');
}

p {
	color:#ddd;
}

.homepage {
	color:white;
	text-align:right;
	float:right;
}

#random {
	margin-left:32px;
	border-radius:2px;
}

#clear {
	font-weight:bold;
	margin:-5px;
}

a:hover {
	color:yellow;
}

div.item:hover {
	color:yellow;
	background:#888;
}

div.subdir:hover {
	color:yellow;
	background:#3261a8;
}
