<head>
	<title>noidea</title>
	<script src="/static/res/noidea.js"></script>
	<link rel="stylesheet" href="/static/res/noidea.css">
</head>
<body>
	<p class="whitetext">Search: <input id="search-bar" onkeyup="update_list()"></p>
	<div id="media-table">
		{% for item in movies %}
		<div class="item" onclick="open_media('{{ item.file }}')">
			<img src="{{ item.poster }}" /><br />{{ item.name }}
		</div>
		{% endfor %}
		{% for item in shows %}
		<a href="/show/?id={{ item.name }}"><div class="item">
			<img src="{{ item.poster }}" /><br />{{ item.name }}
		</div></a>
		{% endfor %}
	</div>
</body>
